<h1><strong>SneakerLovers</strong></h1>

<p>このサイトは</p>
<p>スニーカー好きのスニーカー好きによるスニーカー好きのためのサイトです。</p>

<div class="row">
 <%= link_to 'Log in',new_public_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
</div>
<div class="row">
 <%= link_to 'Sign up',new_public_registration_path, class: "btn btn-success btn-sm btn-block mb-3 sign_up" %>
</div>