<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>SneakerLovers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link text-light" href="/">Home</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/publics/sign_up">Sign up</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/publics/sign_in">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>